<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <menu id="Accessories" label="Accessories" icon="/usr/share/icons/Faenza/categories/scalable/applications-utilities.svg" >
  <item icon="/usr/share/icons/oxygen/base/32x32/apps/utilities-terminal.png" label="Terminal">
  	<action name="Execute"><execute>qterminal</execute></action> 
  	</item>
  <item label="pcmanfm" icon="/usr/share/icons/gnome-dust/32x32/apps/pcmanfm.png">
  	<action name="Execute"><execute>pcmanfm-qt</execute></action> 
  	</item>
  	<separator />
  <item label="Calculator" icon="/usr/share/icons/Papirus/32x32/apps/pcbcalculator.svg">
  	<action name="Execute"><execute>xcalc</execute></action>
  </item>
  <item label="Acetoneiso" icon="/usr/share/icons/Papirus/32x32/apps/acetoneiso.svg">
  	<action name="Execute"><execute>acetoneiso</execute></action>
  </item>
     <separator />
  <item label="Featherpad" icon="/usr/share/icons/Papirus/32x32/apps/featherpad.svg">
  	<action name="Execute"><execute>featherpad</execute></action>
  </item>
  <item label="Journal" icon="/usr/share/icons/Papirus/16x16/apps/xournal.svg">
  	<action name="Execute"><execute>xournal</execute></action>
  </item>
  <separator />
  <item label="clipboard" icon="/usr/share/icons/Papirus/32x32/apps/xclipboard.svg">
  	<action name="Execute"><execute>xclipboard</execute></action>
  </item>
  <item label="Magnifier" icon="/usr/share/icons/oxygen/base/32x32/apps/kmag.png">
  	<action name="Execute"><execute>xmag</execute></action>
  </item>
</menu>
<separator />
	<menu id="graphics" label="Graphics" icon="/usr/share/icons/Faenza/categories/64/applications-graphics.png">
		<item label="Nomacs" icon="/usr/share/icons/Papirus/32x32/apps/nomacs.svg">
			<action name="Execute"><execute>nomacs</execute></action>
		</item>
		<item label="Imagemagick" icon="/usr/share/icons/Faenza/apps/scalable/imagemagick.svg">
			<action name="Execute"><execute>/usr/bin/display-im6.q16 -nostdin %F</execute></action>
		</item>
		<separator />
		<item label="Xsane" icon="/usr/share/icons/Papirus/32x32/apps/xsane.svg" >
			<action name="Execute"><execute>xsane</execute></action>
		</item>
		<item label="Xpaint" icon="/usr/share/icons/Papirus/32x32/apps/tuxpaint.svg">
			<action name="Execute"><execute>xpaint</execute></action>
		</item>
		<separator />
		<item label="Libreoffice Draw" icon="/usr/share/icons/hicolor/32x32/apps/libreoffice-draw.svg">
			<action name="Execute"><execute>lodraw</execute></action>
		</item>
		<item label="Flameshot" icon="/usr/share/icons/hicolor/48x48/apps/flameshot.png">
			<action name="Execute"><execute>flameshot</execute></action>
		</item>
		</menu>
<separator />
	<menu id="Office" label="Office" icon="/usr/share/icons/Faenza/categories/32/redhat-office.png">
		<item label="QpdfView" icon="/usr/share/icons/Papirus/32x32/apps/qpdfview.svg">
			<action name="Execute"><execute>qpdfview</execute></action>
		</item>
		<item label="Ebook Reader" icon="/usr/share/icons/Papirus/32x32/apps/fbreader.svg">
			<action name="Execute"><execute>fbreader</execute></action>
		</item>
		<separator />
		<item label="Xchm" icon="/usr/share/icons/Papirus/32x32/apps/xchm-48.svg"> 
			<action name="Execute"><execute>xchm</execute></action>
		</item>
		<item label="PdfArranger" icon="/usr/share/icons/Papirus/32x32/apps/pdfarranger.svg">
			<action name="Execute"><execute>pdfarranger</execute></action>
		</item>
		<separator />
		<item label="Writer" icon="/usr/share/icons/Faenza/apps/32/libreoffice-writer.png">
			<action name="Execute"><execute>lowriter</execute></action>
		</item>
		<item label="Spreadsheet" icon="/usr/share/icons/Papirus/32x32/apps/libreoffice-calc.svg">
			<action name="Execute"><execute>localc</execute></action>
		</item>
		<item label="Presentation" icon="/usr/share/icons/Papirus/32x32/apps/libreoffice-impress.svg">
			<action name="Execute"><execute>loimpress</execute></action>
		</item>
		<separator />
		<item label="Mindmap" icon="/usr/share/icons/Papirus/32x32/apps/vym.svg">
			<action name="Execute"><eecute>vym</execute></action>
		</item>
		<item label="Minder" icon="/usr/share/icons/Papirus/32x32/apps/com.github.phase1geo.minder.svg">
			<action name="Execute"><execute>/usr/bin/com.github.phase1geo.minder</execute></action>
		</item>
	</menu>
	<separator />
	<menu id="Internet" label="Internet" icon="/usr/share/icons/Papirus/32x32/apps/applications-internet.svg">
		<item label="Mozilla Firefox" icon="/usr/share/icons/Papirus/32x32/apps/mozilla-firefox.svg">
			<action name="Execute"><execute>firefox</execute></action>
		</item>
		<item label="Chromium" icon="/usr/share/icons/Papirus/32x32/apps/chromium.svg">
			<action name="Execute"><execute>chromium</execute></action>
		</item>
		<item label="Opera" icon="/usr/share/icons/Papirus/32x32/apps/opera.svg">
			<action name="Execute"><execute>opera</execute></action>
		</item>
		<separator />
		<item label="Download Manager" icon="/usr/share/icons/Papirus/32x32/apps/xdman.svg">
			<action name="Execute"><execute>/opt/xdman/xdman</execute></action>
		</item>
	</menu>
	<separator />
<menu id="multimedia" label="Multimedia" icon="/usr/share/icons/Papirus/48x48/apps/multimedia.svg">
	<item label="Audacious" icon="/usr/share/icons/Faenza/apps/32/audacious.png">
		<action name="Execute"><execute>audacious</execute></action>
	</item>
	<item label="Smplayer" icon="/usr/share/icons/Faenza/apps/32/smplayer.png">
		<action name="Execute"><execute>smplayer</execute></action>
	</item>
	<separator />
	<item label="Vlc" icon="/usr/share/icons/Papirus/32x32/apps/vlc.svg">
		<action name="Execute"><execute>vlc</execute></action>
	</item>
	<item label="StreamTuner" icon="/usr/share/icons/Papirus/32x32/apps/streamtuner2.svg">
		<action name="Execute"><execute>streamtuner2</execute></action>
	</item>
	<separator />
	<item label="Audacity" icon="/usr/share/icons/Papirus/32x32/apps/audacity.svg">
		<action name="Execute"><execute>audacity</execute></action>
	</item>
	<item label="Winff" icon="/usr/share/icons/Papirus/32x32/apps/winff.svg">
		<action name="Execute"><execute>winff</execute></action>
	</item>
</menu>
<separator />
<menu id="Utility" label="Utilities" icon="/usr/share/icons/Faenza/categories/32/applications-utilities.png">
	<item label="GtkHash" icon="/usr/share/icons/Papirus/32x32/apps/gtkhash.svg">
		<action name="Execute"><execute>gtkhash</execute></action>
	</item>
	<item label="Task Manager" icon="/usr/share/icons/hicolor/48x48/apps/qps.png">
		<action name="Execute"><execute>qps</execute></action>
	</item>
	<separator />
	<item label="Archiver" icon="/usr/share/icons/Faenza/apps/32/xarchiver.png">
		<action name="Execute"><execute>xarchiver</execute></action>
	</item>
	<item label="Manual" icon="/usr/share/icons/oxygen/base/32x32/mimetypes/application-x-troff-man.png">
		<action name="Execute"><execute>xman</execute></action>
	</item>
	<separator />
	<item label="Task Viewer" icon="/usr/share/icons/gnome-human/scalable/actions/top.svg">
		<action name="Execute"><execute>/usr/bin/qterminal -e /usr/bin/top</execute></action>
	</item>
	<item label="Network Monitor" icon="/usr/share/icons/Faenza/categories/scalable/package_network.svg">
		<action name="Execute"><execute>firefox --new-window  localhost:667</execute></action>
	</item>
	<separator />
	<item label="Process Tree" icon="/usr/share/icons/oxygen/base/16x16/actions/view-process-tree.png">
		<action name="Execute"><execute>/usr/bin/qterminal -e /usr/bin/pstree.x11</execute></action>
	</item>
	<item label="Window Properties" icon="/usr/share/icons/gnome/48x48/status/info.png">
		<action name="Execute"><execute>xprop | xmessage -file -</execute></action>
	</item>
	<item label="Window Information" icon="/usr/share/icons/gnome/24x24/status/gtk-dialog-info.png">
		<action name="Execute"><execute>xwininfo | xmessage -file -</execute></action>
	</item>	
	</menu>
	<separator />
<menu id="system" label="System" icon="/usr/share/icons/Faenza/devices/32/system.png">
	<item label="Software Manager" icon="/usr/share/icons/Papirus/32x32/apps/synaptic.svg">
		<action name="Execute"><execute>synaptic-pkexec</execute></action>
	</item>
	<item label="Software Installer" icon="/usr/share/icons/gnome-colors-common/32x32/apps/gdebi.png">
		<action name="Execute"><execute>gdebi-gtk</execute></action>
	</item>
	<separator />
	<item label="Partition Manager" icon="/usr/share/icons/hicolor/32x32/apps/gparted.png">
		<action name="Execute"><execute>gparted</execute></action>
	</item>
	<item label="Volume Control" icon="/usr/share/icons/Papirus/32x32/apps/pavucontrol.svg">
		<action name="Execute"><execute>pavucontrol</execute></action>
	</item>
	<separator />
	<item label="GTK2 Preferences" icon="/usr/share/icons/Faenza/actions/32/system-search.png">
		<action name="Execute"><execute>gtk-chtheme</execute></action>
	</item>
	<item label="GTK3 Preferences" icon="/usr/share/icons/Faenza/actions/32/system-run.png">
		<action name="Execute"><execute>gtk-theme-switch2</execute></action>
	</item>
	<item label="Qt5 Preferences" icon="/usr/share/icons/Papirus/32x32/apps/qt5ct.svg">
		<action name="Execute"><execute>qt5ct</execute></action>
	</item>
	<separator />
	<item label="Window Effects" icon="/usr/share/icons/hicolor/48x48/apps/compton.png">
		<action name="Execute"><execute>compton-conf</execute></action>
	</item>
	<item label="Xscreensaver" icon="/usr/share/icons/Faenza/apps/32/xscreensaver.png">
		<action name="Execute"><execute>xscreensaver-demo</execute></action>
	</item>
	<separator />
	<item label="Xfonts" icon="/usr/share/icons/gnome/48x48/mimetypes/font.png">
		<action name="Execute"><execute>xfontsel</execute></action>
	</item>
	<item label="Terminator" icon="/usr/share/icons/Faenza-Darker/actions/scalable/stop.svg">
		<action name="Execute"><execute>xkill</execute></action>
	</item>
	<separator />
	<item label="Openbox Settings" icon="/usr/share/pixmaps/obconf.png">
		<action name="Execute"><execute>obconf</execute></action>
  	</item>
  	<item label="Openbox Reconfigure" icon="/usr/share/pixmaps/openbox.png">
  		<action name="Reconfigure" />
  	</item>
  	<separator />
  	<item label="IBus Preferences" icon="/usr/share/icons/Faenza-Dark/apps/32/ibus.png">
  		<action name="Execute"><execute>ibus-setup</execute></action>
  	</item>
  	<item label="Hangul Preferences" icon="/usr/share/ibus-hangul/icons/ibus-hangul.png">
  		<action name="Execute"><execute>ibus-setup-hangul</execute></action>
  	</item>
  	<item label="Kanji Preferences" icon="/usr/share/icons/Papirus/32x32/apps/chinese.svg">
  		<action name="Execute"><execute>ibus-setup-cangjie cangjie</execute></action>
  	</item>
  	<item label="Input Method" icon="/usr/share/icons/Faenza-Dark/status/22/tray-new-im.png">
  		<action name="Execute"><execute>im-config</execute></action>
  	</item>
  	<separator />
  	<item label="UserInfo" icon="/usr/share/pixmaps/user_icon.png">
  		<action name="Execute"><execute>userinfo</execute></action>
  	</item>
  	<item label="Password Settings" icon="/usr/share/pixmaps/password.png">
  		<action  name="Execute"><execute>userpasswd</execute></action>
  	</item>
  	<separator />
  	<item label="Tint2 Settings" icon="/usr/share/icons/Papirus/32x32/apps/tint2.svg">
  		<action name="Execute"><execute>tint2conf</execute></action>
  	</item>
  	<item label="Disk Management" icon="/usr/share/pixmaps/disks.png">
  		<action name="Execute"><execute>usermount</execute></action>
  	</item>
	</menu>
	<separator />
	<menu id="exit" label="Exit" icon="/usr/share/icons/gnome-colors-common/32x32/actions/exit.png">
	<item label="Screen Lock" icon="/usr/share/icons/Faenza-Darker/actions/32/gnome-lockscreen.png">
		<action name="Execute"><execute>xscreensaver-command -lock</execute></action>
	</item>
	<separator />
	<item label="Logout" icon="/usr/share/icons/Faenza-Dark/actions/32/lxde-logout.png">
    	<action name="Exit" />
  	</item>
  	<item label="Shutdown" icon="/usr/share/icons/Faenza/apps/scalable/xfsm-shutdown.svg">
  		<action name="Execute"><execute>/home/ben/.config/system/Poweroff.sh</execute></action>
  	</item>
  	<item label="Reboot" icon="/usr/share/icons/Papirus/32x32/apps/xfsm-reboot.svg">
  		<action name="Execute"><execute>/home/ben/.config/system/Reboot.sh</execute></action>
  	</item>
	</menu>
	<separator />
</openbox_menu>
